<!DOCTYPE html>
{% load static %}
<html lang="en">


<!-- index.html  21 Nov 2019 03:44:50 GMT -->
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <title> | {{user.username}}</title>
  <!-- General CSS Files -->
  <link rel="stylesheet" href="{% static 'back/assets/css/app.min.css'%}">
  <!-- Template CSS -->
  <link rel="stylesheet" href="{% static 'back/assets/css/style.css'%}">
  <link rel="stylesheet" href="{% static 'back/assets/css/components.css'%}">
  <!-- Custom style CSS -->
  <link rel="stylesheet" href="{% static 'back/assets/css/custom.css'%}">
  <link rel='shortcut icon' type='image/x-icon' href="{% static 'back/assets/img/favicon.ico'%}" />
</head>

<body>
  <div class="loader"></div>
  <div id="app">
    <div class="main-wrapper main-wrapper-1">
      <div class="navbar-bg"></div>
      {% include "back/query/nav.html" %}
      {% include "back/query/sidebar.html" %}
      <!-- Main Content -->
      <div class="main-content">
        <section class="section">
          <div class="row ">
            {% if fonction == 'admin'%}
           
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div class="card">
                <div class="card-statistic-4">
                  <div class="align-items-center justify-content-between">
                    <div class="row ">
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                        <div class="card-content">
                          
                          <h5 class="font-15">utilisateurs</h5>
                          <h2 class="mb-3 font-18">{{userCount}}</h2>
                      
                        
                          
                          
                          {% comment %} <p class="mb-0"><span class="col-green">10%</span> Increase</p> {% endcomment %}
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                        <div class="banner-img">
                          <img src="assets/img/banner/1.png" alt="">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div class="card">
                <div class="card-statistic-4">
                  <div class="align-items-center justify-content-between">
                    <div class="row ">
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                        <div class="card-content">

                         {%if membre > 1%}
                         
                          <h5 class="font-15">Membres</h5>
                          <h2 class="mb-3 font-18">{{membre}}</h2>
                          {% else %}
                          <h5 class="font-15">Membre</h5>
                          <h2 class="mb-3 font-18">{{membre}}</h2>
                          {%endif%}
                          
                          {% comment %} <p class="mb-0"><span class="col-green">10%</span> Increase</p> {% endcomment %}
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                        <div class="banner-img">
                          <img src="assets/img/banner/1.png" alt="">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- nombre des hommes -->
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div class="card">
                <div class="card-statistic-4">
                  <div class="align-items-center justify-content-between">
                    <div class="row ">
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                        <div class="card-content">

                         {%if homme > 1%}
                         
                          <h5 class="font-15">Hommes</h5>
                          <h2 class="mb-3 font-18">{{homme}}</h2>
                          {% else %}
                          <h5 class="font-15">Homme</h5>
                          <h2 class="mb-3 font-18">{{homme}}</h2>
                          {%endif%}
                          
                          {% comment %} <p class="mb-0"><span class="col-green">10%</span> Increase</p> {% endcomment %}
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                        <div class="banner-img">
                          <img src="assets/img/banner/1.png" alt="">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- nombre des femmes -->
             <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div class="card">
                <div class="card-statistic-4">
                  <div class="align-items-center justify-content-between">
                    <div class="row ">
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                        <div class="card-content">

                         {%if femme > 1%}
                         
                          <h5 class="font-15">Femmes</h5>
                          <h2 class="mb-3 font-18">{{femme}}</h2>
                          {% else %}
                          <h5 class="font-15">Femme</h5>
                          <h2 class="mb-3 font-18">{{femme}}</h2>
                          {%endif%}
                          
                          {% comment %} <p class="mb-0"><span class="col-green">10%</span> Increase</p> {% endcomment %}
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                        <div class="banner-img">
                          <img src="assets/img/banner/1.png" alt="">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- nombre des membre marie -->
             <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div class="card">
                <div class="card-statistic-4">
                  <div class="align-items-center justify-content-between">
                    <div class="row ">
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                        <div class="card-content">

                         {%if marie > 1%}
                         
                          <h5 class="font-15">Maries</h5>
                          <h2 class="mb-3 font-18">{{marie}}</h2>
                          {% else %}
                          <h5 class="font-15">Marie</h5>
                          <h2 class="mb-3 font-18">{{marie}}</h2>
                          {%endif%}
                          
                          {% comment %} <p class="mb-0"><span class="col-green">10%</span> Increase</p> {% endcomment %}
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                        <div class="banner-img">
                          <img src="assets/img/banner/1.png" alt="">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <!-- nombre des membres des celibateurs par admin -->

            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div class="card">
                <div class="card-statistic-4">
                  <div class="align-items-center justify-content-between">
                    <div class="row ">
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                        <div class="card-content">

                         {%if celibateur > 1%}
                         
                          <h5 class="font-15">Celibateurs</h5>
                          <h2 class="mb-3 font-18">{{celibateur}}</h2>
                          {% else %}
                          <h5 class="font-15">Celibateur</h5>
                          <h2 class="mb-3 font-18">{{celibateur}}</h2>
                          {%endif%}
                          
                          {% comment %} <p class="mb-0"><span class="col-green">10%</span> Increase</p> {% endcomment %}
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                        <div class="banner-img">
                          <img src="assets/img/banner/1.png" alt="">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <!--  nombre des veuves -->
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div class="card">
                <div class="card-statistic-4">
                  <div class="align-items-center justify-content-between">
                    <div class="row ">
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                        <div class="card-content">

                         {%if veuve > 1%}
                         
                          <h5 class="font-15">Veuves</h5>
                          <h2 class="mb-3 font-18">{{veuve}}</h2>
                          {% else %}
                          <h5 class="font-15">Veuve</h5>
                          <h2 class="mb-3 font-18">{{veuve}}</h2>
                          {%endif%}
                          
                          {% comment %} <p class="mb-0"><span class="col-green">10%</span> Increase</p> {% endcomment %}
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                        <div class="banner-img">
                          <img src="assets/img/banner/1.png" alt="">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- nombre des veufs -->

            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div class="card">
                <div class="card-statistic-4">
                  <div class="align-items-center justify-content-between">
                    <div class="row ">
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                        <div class="card-content">

                         {%if veuf > 1%}
                         
                          <h5 class="font-15">Veufs</h5>
                          <h2 class="mb-3 font-18">{{veuf}}</h2>
                          {% else %}
                          <h5 class="font-15">Veuf</h5>
                          <h2 class="mb-3 font-18">{{veuf}}</h2>
                          {%endif%}
                          
                          {% comment %} <p class="mb-0"><span class="col-green">10%</span> Increase</p> {% endcomment %}
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                        <div class="banner-img">
                          <img src="assets/img/banner/1.png" alt="">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- evenement nombre  -->
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div class="card">
                <div class="card-statistic-4">
                  <div class="align-items-center justify-content-between">
                    <div class="row ">
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                        <div class="card-content">

                         {%if evenement > 1%}
                         
                          <h5 class="font-15">Evenements</h5>
                          <h2 class="mb-3 font-18">{{evenement}}</h2>
                          {% else %}
                          <h5 class="font-15">Evenement</h5>
                          <h2 class="mb-3 font-18">{{evenement}}</h2>
                          {%endif%}
                          
                          {% comment %} <p class="mb-0"><span class="col-green">10%</span> Increase</p> {% endcomment %}
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                        <div class="banner-img">
                          <img src="assets/img/banner/1.png" alt="">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>







            {%elif fonction == 'sous-admin'%}

              <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div class="card">
                <div class="card-statistic-4">
                  <div class="align-items-center justify-content-between">
                    <div class="row ">
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                        <div class="card-content">

                         
                         
                         {%if membre > 1%}
                         
                          <h5 class="font-15">Membres</h5>
                          <h2 class="mb-3 font-18">{{cellule}}</h2>
                          {% else %}
                          <h5 class="font-15">Membre</h5>
                          <h2 class="mb-3 font-18">{{cellule}}</h2>
                          {%endif%}
                          
                          {% comment %} <p class="mb-0"><span class="col-green">10%</span> Increase</p> {% endcomment %}
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                        <div class="banner-img">
                          <img src="assets/img/banner/1.png" alt="">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>



            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div class="card">
                <div class="card-statistic-4">
                  <div class="align-items-center justify-content-between">
                    <div class="row ">
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                        <div class="card-content">

                         {%if hommeC > 1%}
                         
                          <h5 class="font-15">Hommes</h5>
                          <h2 class="mb-3 font-18">{{hommeC}}</h2>
                          {% else %}
                          <h5 class="font-15">Homme</h5>
                          <h2 class="mb-3 font-18">{{hommeC}}</h2>
                          {%endif%}
                          
                          {% comment %} <p class="mb-0"><span class="col-green">10%</span> Increase</p> {% endcomment %}
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                        <div class="banner-img">
                          <img src="assets/img/banner/1.png" alt="">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

             <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div class="card">
                <div class="card-statistic-4">
                  <div class="align-items-center justify-content-between">
                    <div class="row ">
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                        <div class="card-content">

                         {%if femmeC > 1%}
                         
                          <h5 class="font-15">Femmes</h5>
                          <h2 class="mb-3 font-18">{{femmeC}}</h2>
                          {% else %}
                          <h5 class="font-15">Femme</h5>
                          <h2 class="mb-3 font-18">{{femmeC}}</h2>
                          {%endif%}
                          
                          {% comment %} <p class="mb-0"><span class="col-green">10%</span> Increase</p> {% endcomment %}
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                        <div class="banner-img">
                          <img src="assets/img/banner/1.png" alt="">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- marie -->
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div class="card">
                <div class="card-statistic-4">
                  <div class="align-items-center justify-content-between">
                    <div class="row ">
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                        <div class="card-content">

                         {%if marieC > 1%}
                         
                          <h5 class="font-15">Maries</h5>
                          <h2 class="mb-3 font-18">{{marieC}}</h2>
                          {% else %}
                          <h5 class="font-15">Marie</h5>
                          <h2 class="mb-3 font-18">{{marieC}}</h2>
                          {%endif%}
                          
                          {% comment %} <p class="mb-0"><span class="col-green">10%</span> Increase</p> {% endcomment %}
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                        <div class="banner-img">
                          <img src="assets/img/banner/1.png" alt="">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- celibateur -->

            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div class="card">
                <div class="card-statistic-4">
                  <div class="align-items-center justify-content-between">
                    <div class="row ">
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                        <div class="card-content">

                         {%if celibateurC > 1%}
                         
                          <h5 class="font-15">Celibateurs</h5>
                          <h2 class="mb-3 font-18">{{celibateurC}}</h2>
                          {% else %}
                          <h5 class="font-15">Celibateur</h5>
                          <h2 class="mb-3 font-18">{{celibateurC}}</h2>
                          {%endif%}
                          
                          {% comment %} <p class="mb-0"><span class="col-green">10%</span> Increase</p> {% endcomment %}
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                        <div class="banner-img">
                          <img src="assets/img/banner/1.png" alt="">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <!-- veuve -->
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div class="card">
                <div class="card-statistic-4">
                  <div class="align-items-center justify-content-between">
                    <div class="row ">
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                        <div class="card-content">

                         {%if veuveC > 1%}
                         
                          <h5 class="font-15">Veuves</h5>
                          <h2 class="mb-3 font-18">{{veuveC}}</h2>
                          {% else %}
                          <h5 class="font-15">Veuve</h5>
                          <h2 class="mb-3 font-18">{{veuveC}}</h2>
                          {%endif%}
                          
                          {% comment %} <p class="mb-0"><span class="col-green">10%</span> Increase</p> {% endcomment %}
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                        <div class="banner-img">
                          <img src="assets/img/banner/1.png" alt="">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- veuf -->

            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div class="card">
                <div class="card-statistic-4">
                  <div class="align-items-center justify-content-between">
                    <div class="row ">
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                        <div class="card-content">

                         {%if veufC > 1%}
                         
                          <h5 class="font-15">Veufs</h5>
                          <h2 class="mb-3 font-18">{{veufC}}</h2>
                          {% else %}
                          <h5 class="font-15">Veuf</h5>
                          <h2 class="mb-3 font-18">{{veufC}}</h2>
                          {%endif%}
                          
                          {% comment %} <p class="mb-0"><span class="col-green">10%</span> Increase</p> {% endcomment %}
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                        <div class="banner-img">
                          <img src="assets/img/banner/1.png" alt="">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- evenement -->
              <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div class="card">
                <div class="card-statistic-4">
                  <div class="align-items-center justify-content-between">
                    <div class="row ">
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                        <div class="card-content">

                         {%if evenementC > 1%}
                         
                          <h5 class="font-15">Evenements</h5>
                          <h2 class="mb-3 font-18">{{evenementC}}</h2>
                          {% else %}
                          <h5 class="font-15">Evenement</h5>
                          <h2 class="mb-3 font-18">{{evenementC}}</h2>
                          {%endif%}
                          
                          {% comment %} <p class="mb-0"><span class="col-green">10%</span> Increase</p> {% endcomment %}
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                        <div class="banner-img">
                          <img src="assets/img/banner/1.png" alt="">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>






            {%endif%}
            
            
            
           
          </div>
         
          
          
         
        </section>
        <div class="settingSidebar">
          <a href="javascript:void(0)" class="settingPanelToggle"> <i class="fa fa-spin fa-cog"></i>
          </a>
          <div class="settingSidebar-body ps-container ps-theme-default">
            <div class=" fade show active">
              <div class="setting-panel-header">Setting Panel
              </div>
              <div class="p-15 border-bottom">
                <h6 class="font-medium m-b-10">Select Layout</h6>
                <div class="selectgroup layout-color w-50">
                  <label class="selectgroup-item">
                    <input type="radio" name="value" value="1" class="selectgroup-input-radio select-layout" checked>
                    <span class="selectgroup-button">Light</span>
                  </label>
                  <label class="selectgroup-item">
                    <input type="radio" name="value" value="2" class="selectgroup-input-radio select-layout">
                    <span class="selectgroup-button">Dark</span>
                  </label>
                </div>
              </div>
              <div class="p-15 border-bottom">
                <h6 class="font-medium m-b-10">Sidebar Color</h6>
                <div class="selectgroup selectgroup-pills sidebar-color">
                  <label class="selectgroup-item">
                    <input type="radio" name="icon-input" value="1" class="selectgroup-input select-sidebar">
                    <span class="selectgroup-button selectgroup-button-icon" data-toggle="tooltip"
                      data-original-title="Light Sidebar"><i class="fas fa-sun"></i></span>
                  </label>
                  <label class="selectgroup-item">
                    <input type="radio" name="icon-input" value="2" class="selectgroup-input select-sidebar" checked>
                    <span class="selectgroup-button selectgroup-button-icon" data-toggle="tooltip"
                      data-original-title="Dark Sidebar"><i class="fas fa-moon"></i></span>
                  </label>
                </div>
              </div>
              <div class="p-15 border-bottom">
                <h6 class="font-medium m-b-10">Color Theme</h6>
                <div class="theme-setting-options">
                  <ul class="choose-theme list-unstyled mb-0">
                    <li title="white" class="active">
                      <div class="white"></div>
                    </li>
                    <li title="cyan">
                      <div class="cyan"></div>
                    </li>
                    <li title="black">
                      <div class="black"></div>
                    </li>
                    <li title="purple">
                      <div class="purple"></div>
                    </li>
                    <li title="orange">
                      <div class="orange"></div>
                    </li>
                    <li title="green">
                      <div class="green"></div>
                    </li>
                    <li title="red">
                      <div class="red"></div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="p-15 border-bottom">
                <div class="theme-setting-options">
                  <label class="m-b-0">
                    <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input"
                      id="mini_sidebar_setting">
                    <span class="custom-switch-indicator"></span>
                    <span class="control-label p-l-10">Mini Sidebar</span>
                  </label>
                </div>
              </div>
              <div class="p-15 border-bottom">
                <div class="theme-setting-options">
                  <label class="m-b-0">
                    <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input"
                      id="sticky_header_setting">
                    <span class="custom-switch-indicator"></span>
                    <span class="control-label p-l-10">Sticky Header</span>
                  </label>
                </div>
              </div>
              <div class="mt-4 mb-4 p-3 align-center rt-sidebar-last-ele">
                <a href="#" class="btn btn-icon icon-left btn-primary btn-restore-theme">
                  <i class="fas fa-undo"></i> Restore Default
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="main-footer">
        <div class="footer-left">
          <a href="templateshub.net">Templateshub</a></a>
        </div>
        <div class="footer-right">
        </div>
      </footer>
    </div>
  </div>
  <!-- General JS Scripts -->
  <script src="{% static 'back/assets/js/app.min.js'%}"></script>
  <!-- JS Libraies -->
  <script src="{% static 'back/assets/bundles/apexcharts/apexcharts.min.js'%}"></script>
  <!-- Page Specific JS File -->
  <script src="{% static 'back/assets/js/page/index.js'%}"></script>
  <!-- Template JS File -->
  <script src="{% static 'back/assets/js/scripts.js'%}"></script>
  <!-- Custom JS File -->
  <script src="{% static 'back/assets/js/custom.js'%}"></script>
</body>


<!-- index.html  21 Nov 2019 03:47:04 GMT -->
</html>